/* body style borrowed from my GEOM101 website https://shanemfleming.github.io/stylesheet.css */
body {
	background-color: #393939;
	color: white;
	font-family: Georgia, "Times New Roman", serif;
	margin-top: 35px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

/* style borrowed from my GEOM101 website https://shanemfleming.github.io/stylesheet.css */
h1 {
    font-family: Verdana, Helvetica, sans-serif;
    margin-bottom: 80px;
    text-align: center;
}

p {
    padding: 5px;
    width: 80%
}

/* .map style made with reference to https://www.w3schools.com/css/css_align.asp */
.map {
    height: 700px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}